
  <%= simple_form_for @movie do |f| %>

  <div class="form-group">
    <div class="form-group string optional">
      <%= f.input :title, input_html: {class: "form-control"} %>
      <%= f.input :description, input_html: {class: "form-control"} %>
    </div>
  </div>

  <%= f.submit "写好了", class: "btn btn-primary", data: {disable_with: "提交中..."}%>
  <% end %>
