<div class="col-md-4 col-md-offset-4">
<h2>新增电影</h2>

<hr>
<%= form_for @movie do |f| %>
电影名称
<%= f.text_field :title %>
<br>
电影简介
<%= f.text_area :description %>
<br>

<%= f.submit "写好了！", :disable_with => '提交中' %>
<%end%>

</div>
