<h1 class="text-center">我发表的影评</h1>
<hr>
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>我的影评</th>
      <th>电影名</th>
      <th>发布时间</th>
      <th>更新时间</th>
    </tr>
  </thead>
  <tbody>
    <% @comments.each do |comment| %>
    <tr>
      <td>#</td>
      <td><%= comment.content %></td>
      <td><%= comment.movie.title%></td>
      <td><%= comment.created_at%></td>
      <td><%= comment.updated_at%></td>
    </tr>
    <% end %>
  </tbody>
</table>
