<footer class="container" style="margin-top: 100px">
  <p class="text-center">
    Copyright @2017 MovieWeb
    <br>Design by
    <a href="https://github.com/zouzhengmin">zhengmin</a>
  </p>

</footer>
